In [1]:
import pandas as pd
import numpy as np
import time

In [2]:
#Population Data to DataFrame (named test_total_population_data)
file = "Resources/ALL/data/population2010-2019.csv"
total_population_data_file_all = pd.read_csv(file)
total_population_data_file = total_population_data_file_all.copy()
total_population_data_file = total_population_data_file.iloc[5:,4:17]
total_population_data_file = total_population_data_file.reset_index()
total_population_data_file = total_population_data_file.iloc[:,1:]
total_population_data_file = total_population_data_file.rename(columns={"NAME":"States"})
years = ["States"]
for year in range(2015,2019,1):
    total_population_data_file = total_population_data_file.rename(columns={f"POPESTIMATE{year}":f"{year}"})
    years.append(str(year))
total_population_data_file = total_population_data_file.loc[:,years]
total_population_data_file = total_population_data_file.iloc[:51]
total_population_data_file.dtypes
total_population_data_file

                  States      2015      2016      2017      2018
0                Alabama   4852347   4863525   4874486   4887681
1                 Alaska    737498    741456    739700    735139
2                Arizona   6829676   6941072   7044008   7158024
3               Arkansas   2978048   2989918   3001345   3009733
4             California  38918045  39167117  39358497  39461588
5               Colorado   5450623   5539215   5611885   5691287
6            Connecticut   3587122   3578141   3573297   3571520
7               Delaware    941252    948921    956823    965479
8   District of Columbia    675400    685815    694906    701547
9                Florida  20209042  20613477  20963613  21244317
10               Georgia  10178447  10301890  10410330  10511131
11                Hawaii   1422052   1427559   1424393   1420593
12                 Idaho   1651059   1682380   1717715   1750536
13              Illinois  12858913  12820527  12778828  12723071
14               Indiana   6608422   6634304   6658078   6695497
15                  Iowa   3120960   3131371   3141550   3148618
16                Kansas   2909011   2910844   2908718   2911359
17              Kentucky   4425976   4438182   4452268   4461153
18             Louisiana   4664628   4678135   4670560   4659690
19                 Maine   1328262   1331317   1334612   1339057
20              Maryland   5985562   6003323   6023868   6035802
21         Massachusetts   6794228   6823608   6859789   6882635
22              Michigan   9931715   9950571   9973114   9984072
23             Minnesota   5482032   5522744   5566230   5606249
24           Mississippi   2988471   2987938   2988510   2981020
25              Missouri   6071732   6087135   6106670   6121623
26               Montana   1030475   1040859   1052482   1060665
27              Nebraska   1891277   1905616   1915947   1925614
28                Nevada   2866939   2917563   2969905   3027341
29         New Hampshire   1336350   1342307   1348787   1353465
30            New Jersey   8867949   8870827   8885525   8886025
31            New Mexico   2089291   2091630   2091784   2092741
32              New York  19654666  19633428  19589572  19530351
33        North Carolina  10031646  10154788  10268233  10381615
34          North Dakota    754066    754434    754942    758080
35                  Ohio  11617527  11634370  11659650  11676341
36              Oklahoma   3909500   3926331   3931316   3940235
37                Oregon   4015792   4089976   4143625   4181886
38          Pennsylvania  12784826  12782275  12787641  12800922
39          Rhode Island   1056065   1056770   1055673   1058287
40        South Carolina   4891938   4957968   5021268   5084156
41          South Dakota    853988    862996    872868    878698
42             Tennessee   6591170   6646010   6708799   6771631
43                 Texas  27470056  27914410  28295273  28628666
44                  Utah   2981835   3041868   3101042   3153550
45               Vermont    625216    623657    624344    624358
46              Virginia   8361808   8410106   8463587   8501286
47            Washington   7163657   7294771   7423362   7523869
48         West Virginia   1842050   1831023   1817004   1804291
49             Wisconsin   5760940   5772628   5790186   5807406
50               Wyoming    585613    584215    578931    577601

In [118]:
#GDP Data to DataFrame (note:measure in millions of dollars)
file = "Resources/ALL/data/gdp2010-2019.csv"
gdp_data_file_all = pd.read_csv(file)
gdp_data_file = gdp_data_file_all.copy()
num_of_indexes = int(gdp_data_file["GeoName"].count())
indexes = []
gdp_data_file = gdp_data_file.rename(columns={"GeoName":"States"})
for index in range(num_of_indexes):
    if gdp_data_file.loc[index,"Description"] == "All industry total":
        indexes.append(index)
gdp_data_file = gdp_data_file.iloc[indexes]
gdp_data_file = gdp_data_file.iloc[:52]
gdp_data_file = gdp_data_file.reset_index()
gdp_data_file = gdp_data_file.loc[:,years]
for year in years:
    try:
        gdp_data_file[year] = gdp_data_file[year].astype(np.float64)
    except ValueError:
        None
gdp_data_file
gdp_data_file.dtypes

States     object
2015      float64
2016      float64
2017      float64
2018      float64
dtype: object

In [123]:
#GDP per capita Data to DataFrame
gdppercapita_data_file = gdp_data_file.copy()
gdppercapita_data_file = gdppercapita_data_file.merge(total_population_data_file, on="States")
years_only = years[1:]
for year in years_only:
    gdppercapita_data_file[year] = gdppercapita_data_file[f"{year}_x"]/gdppercapita_data_file[f"{year}_y"]
gdppercapita_data_file = gdppercapita_data_file[years]
gdppercapita_data_file
gdppercapita_data_file.dtypes

States     object
2015      float64
2016      float64
2017      float64
2018      float64
dtype: object

In [120]:
#GDP Data to DataFrame (note:measure in dollars)
file = "Resources/ALL/data/personalconsumptionpercapita1997_2018.csv"
personalconsumptionpercapita_data_file_all = pd.read_csv(file)
personalconsumptionpercapita_data_file = personalconsumptionpercapita_data_file_all.copy()
num_of_indexes = int(personalconsumptionpercapita_data_file["GeoName"].count())
indexes = []
personalconsumptionpercapita_data_file = personalconsumptionpercapita_data_file.rename(columns={"GeoName":"States"})
for index in range(num_of_indexes):
    if personalconsumptionpercapita_data_file.loc[index,"Description"] == "Per capita personal consumption expenditures":
        indexes.append(index)
personalconsumptionpercapita_data_file = personalconsumptionpercapita_data_file.iloc[indexes]
personalconsumptionpercapita_data_file = personalconsumptionpercapita_data_file.reset_index()
personalconsumptionpercapita_data_file = personalconsumptionpercapita_data_file.iloc[:52]
personalconsumptionpercapita_data_file = personalconsumptionpercapita_data_file.loc[:,years]
for year in years:
    try:
        gdp_data_file[year] = gdp_data_file[year].astype(np.float64)
    except ValueError:
        None
personalconsumptionpercapita_data_file
personalconsumptionpercapita_data_file.dtypes

States     object
2015      float64
2016      float64
2017      float64
2018      float64
dtype: object

In [ ]:
#Median Income to DataFrame (note:measure in dollars)