In [21]:
# Dependencies
import pandas as pd

#Load 2015 - 2018 csv mental health data into dataframes
mh_2015_full = pd.read_csv("Resources/2015/Data/2015_mh_data.csv")
mh_2016_full = pd.read_csv("Resources/2016/Data/2016_mh_data.csv")
mh_2017_full = pd.read_csv("Resources/2017/Data/2017_mh_data.csv")
mh_2018_full = pd.read_csv("Resources/2018/Data/2018_mh_data.csv")

,lst,caseid,MHINTAKE,MHDIAGEVAL,MHREFERRAL,MENTALHTHSERV,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,...,LICENMH,LICENSED,LICENPH,LICENSEDFCS,LICENHOS,JCAHO,CARF,COA,CMS,OTHSTATE
0,AK,201700001,1,1,1,1,1,1,0,0,...,1,1,1,1,0,1,0,0,1,0
1,AK,201700002,1,1,1,1,1,1,1,1,...,1,1,0,0,0,1,0,0,1,0
2,AK,201700003,1,1,1,1,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,AK,201700004,1,0,1,1,1,1,0,0,...,1,1,0,0,0,0,1,0,1,0
4,AK,201700005,1,1,1,1,0,0,0,0,...,1,0,1,1,0,0,0,1,0,0

In [22]:
#Converting state abreviations to state full names

#Citing the website that provided a dictionary of state abreviations and state names
#""" Title: PYTHON DICTIONARY OF US STATES AND TERRITORIES (PYTHON RECIPE)
#Author: Mike Shultz 
#Date: July 14, 2010
#Code version: 1
#Availability: http://code.activestate.com/recipes/577305-python-dictionary-of-us-states-and-territories/ """

#Dictionary of state abreviations
us_states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

#Loops through 2015 dataframe and adds the full state name into a new column state
index_count = 0
mh_2015_full['state'] = ""

for rows in mh_2015_full:
    abr_name = mh_2015_full.loc[index_count, 'LST']
    full_name = us_states[abr_name]
    mh_2015_full.loc[index_count, 'state'] = full_name
    index_count = index_count + 1

mh_2015_full.head()

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,LICENSED,LICENPH,LICENSEDFCS,LICENHOS,JCAHO,CARF,COA,CMS,OTHSTATE,state
0,201500001,AL,1,1,1,0,1,1,0,0,...,0,1,0,1,0,0,0,1,0,Alabama
1,201500002,AL,1,1,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Alabama
2,201500003,AL,1,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,Alabama
3,201500004,AL,1,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,Alabama
4,201500005,AL,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,-1,0,Alabama

'Alabama'

'AL'