In [21]:
# Dependencies
import pandas as pd

#Load 2015 - 2018 csv mental health data into dataframes
mh_2015_full = pd.read_csv("Resources/2015/Data/2015_mh_data.csv")
mh_2016_full = pd.read_csv("Resources/2016/Data/2016_mh_data.csv")
mh_2017_full = pd.read_csv("Resources/2017/Data/2017_mh_data.csv")
mh_2018_full = pd.read_csv("Resources/2018/Data/2018_mh_data.csv")

#Rename inconsistent column in 2017 dataset
mh_2017_full =mh_2017_full.rename(columns = {'lst':'LST'})

In [20]:
#Converting state abreviations to state full names

#Citing the website that provided a dictionary of state abreviations and state names
#""" Title: PYTHON DICTIONARY OF US STATES AND TERRITORIES (PYTHON RECIPE)
#Author: Mike Shultz 
#Date: July 14, 2010
#Code version: 1
#Availability: http://code.activestate.com/recipes/577305-python-dictionary-of-us-states-and-territories/ """

#Dictionary of state abreviations
us_states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming',
        'ZZ': 'Unknown'
}

In [4]:
#Create a list of mh dataframes
dataset_lst = [mh_2015_full, mh_2016_full, mh_2017_full, mh_2018_full]

#Loops through each mh dataframe and adds the full state name into a new column state
for dataset in dataset_lst:

    index_count = 0
    dataset['state'] = ""
    
    for rows in dataset.iterrows():
        abr_name = dataset.loc[index_count, 'LST']
        full_name = us_states[abr_name]
        dataset.loc[index_count, 'state'] = full_name
        index_count = index_count + 1

,CASEID,LST,MHINTAKE,MHDIAGEVAL,MHREFERRAL,TREATMT,ADMINSERV,SETTINGIP,SETTINGRC,SETTINGDTPH,...,OPLEGALTOTVOL,OPLEGALPERVOL,OPLEGALTOTNONFOREN,OPLEGALPERNONFOREN,OPLEGALTOTFOREN,OPLEGALPERFOREN,COD_PCT,TOTADMIS,PERCENTVA,state
0,201800001,AK,1,1,1,1,0,0,0,0,...,1,-2,0,-2,1,-2,5,2,0,Alaska
1,201800002,AK,1,1,1,1,1,0,0,0,...,0,1,1,7,0,0,5,2,0,Alaska
2,201800003,AK,1,1,1,1,1,0,0,0,...,1,7,0,1,0,0,7,4,1,Alaska
3,201800004,AK,1,1,1,1,1,0,0,0,...,1,1,0,0,6,7,1,5,1,Alaska
4,201800005,AK,1,1,1,1,0,0,0,0,...,7,-2,0,-2,0,-2,5,7,3,Alaska
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11677,201811678,ZZ,1,1,1,1,0,1,0,0,...,3,-2,1,-2,1,-2,3,7,1,Unknown
11678,201811679,ZZ,1,1,1,1,1,0,0,0,...,8,7,0,0,0,0,2,10,7,Unknown
11679,201811680,ZZ,1,1,1,0,1,1,0,0,...,12,7,0,0,0,0,1,10,1,Unknown
11680,201811681,ZZ,1,0,1,0,0,0,0,0,...,4,-2,0,-2,0,-2,1,1,0,Unknown
11681,201811682,ZZ,1,1,1,0,0,1,0,0,...,-2,-2,-2,-2,-2,-2,2,8,0,Unknown

0              Alabama
1              Alabama
2              Alabama
3              Alabama
4              Alabama
             ...
12821        Wisconsin
12822        Wisconsin
12823        Wisconsin
12824        Wisconsin
12825    West Virginia
Name: state, Length: 12826, dtype: object