In [1]:
# Dependencies
import pandas as pd

#Load 2015 - 2018 csv mental health data into dataframes
mh_2015_full = pd.read_csv("Resources/2015/Data/2015_mh_data.csv")
mh_2016_full = pd.read_csv("Resources/2016/Data/2016_mh_data.csv")
mh_2017_full = pd.read_csv("Resources/2017/Data/2017_mh_data.csv")
mh_2018_full = pd.read_csv("Resources/2018/Data/2018_mh_data.csv")

#Rename inconsistent column in 2017 dataset
mh_2017_full =mh_2017_full.rename(columns = {'lst':'LST'})

In [2]:
#Converting state abreviations to state full names

#Citing the website that provided a dictionary of state abreviations and state names
#""" Title: PYTHON DICTIONARY OF US STATES AND TERRITORIES (PYTHON RECIPE)
#Author: Mike Shultz 
#Date: July 14, 2010
#Code version: 1
#Availability: http://code.activestate.com/recipes/577305-python-dictionary-of-us-states-and-territories/ """

#Dictionary of state abreviations
us_states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming',
        'ZZ': 'Unknown'
}

In [3]:
#Create a list of mh dataframes
dataset_lst = [mh_2015_full, mh_2016_full, mh_2017_full, mh_2018_full]

#Loops through each mh dataframe and adds the full state name into a new column state
for dataset in dataset_lst:

    index_count = 0
    dataset['state'] = ""
    
    for rows in dataset.iterrows():
        abr_name = dataset.loc[index_count, 'LST']
        full_name = us_states[abr_name]
        dataset.loc[index_count, 'state'] = full_name
        index_count = index_count + 1

In [4]:
#Create a list of colomn names for condensed dataframes
mh_cols = ['state', 'FOCUS', 'CRISISTEAM2', 'TREATMT', 'MHDIAGEVAL', 'MHREFERRAL', 'MHEMGCY', 'MHSUICIDE', 'PAYASST',
           'LANG', 'LANG16', 'CHILDAD', 'ADOLES', 'YOUNGADULTS', 'ADULT', 'SENIORS']
#Create condensed dataframes
mh_2015_dem = mh_2015_full[mh_cols]
mh_2016_dem = mh_2016_full[mh_cols]
mh_2017_dem = mh_2017_full[mh_cols]
mh_2018_dem = mh_2018_full[mh_cols]

dataset_lst_dem = [mh_2015_dem, mh_2016_dem, mh_2017_dem, mh_2018_dem]

#Create a list of only integer column names
mh_cols_int = ['FOCUS', 'CRISISTEAM2', 'TREATMT', 'MHDIAGEVAL', 'MHREFERRAL', 'MHEMGCY', 'MHSUICIDE', 'PAYASST',
           'LANG', 'LANG16', 'CHILDAD', 'ADOLES', 'YOUNGADULTS', 'ADULT', 'SENIORS']

#Loop through datasets, rows, and columns to replace all negative values with zeros. Survey records a question skip as a negative value.
index_count = 0

for dataset in dataset_lst_dem:

    index_count = 0
    
    for rows in dataset.iterrows():
        
        for col in mh_cols_int:
            
            if dataset.loc[index_count, col] < 0:
            
                dataset.loc[index_count, col] = 0
        
        index_count = index_count + 1

C:\Users\allym\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [13]:
#Group each dataframe by state. Count the focus column to get a count of facilities. 
#Sum the rest of the columns since y/n is represented by 1/0
mh_2015_dem_group = mh_2015_dem.groupby(['state']).agg({'FOCUS': 'count', 'CRISISTEAM2': 'sum', 'TREATMT': 'sum', 'MHDIAGEVAL': 'sum',
                                    'MHREFERRAL': 'sum', 'MHEMGCY': 'sum', 'MHSUICIDE': 'sum', 'PAYASST': 'sum',
                                    'LANG': 'sum', 'LANG16': 'sum', 'CHILDAD': 'sum', 'ADOLES': 'sum', 'YOUNGADULTS': 'sum',
                                    'ADULT': 'sum', 'SENIORS': 'sum' })

mh_2016_dem_group = mh_2016_dem.groupby(['state']).agg({'FOCUS': 'count', 'CRISISTEAM2': 'sum', 'TREATMT': 'sum', 'MHDIAGEVAL': 'sum',
                                    'MHREFERRAL': 'sum', 'MHEMGCY': 'sum', 'MHSUICIDE': 'sum', 'PAYASST': 'sum',
                                    'LANG': 'sum', 'LANG16': 'sum', 'CHILDAD': 'sum', 'ADOLES': 'sum', 'YOUNGADULTS': 'sum',
                                    'ADULT': 'sum', 'SENIORS': 'sum' })

mh_2017_dem_group = mh_2017_dem.groupby(['state']).agg({'FOCUS': 'count', 'CRISISTEAM2': 'sum', 'TREATMT': 'sum', 'MHDIAGEVAL': 'sum',
                                    'MHREFERRAL': 'sum', 'MHEMGCY': 'sum', 'MHSUICIDE': 'sum', 'PAYASST': 'sum',
                                    'LANG': 'sum', 'LANG16': 'sum', 'CHILDAD': 'sum', 'ADOLES': 'sum', 'YOUNGADULTS': 'sum',
                                    'ADULT': 'sum', 'SENIORS': 'sum' })

mh_2018_dem_group = mh_2018_dem.groupby(['state']).agg({'FOCUS': 'count', 'CRISISTEAM2': 'sum', 'TREATMT': 'sum', 'MHDIAGEVAL': 'sum',
                                    'MHREFERRAL': 'sum', 'MHEMGCY': 'sum', 'MHSUICIDE': 'sum', 'PAYASST': 'sum',
                                    'LANG': 'sum', 'LANG16': 'sum', 'CHILDAD': 'sum', 'ADOLES': 'sum', 'YOUNGADULTS': 'sum',
                                    'ADULT': 'sum', 'SENIORS': 'sum' })

#Rename column to reflect what it is measuring
mh_2015_dem_group =mh_2015_dem_group.rename(columns = {'FOCUS':'Num_Facilities', 'LANG16': 'LANG_SPAN'})
mh_2016_dem_group =mh_2016_dem_group.rename(columns = {'FOCUS':'Num_Facilities', 'LANG16': 'LANG_SPAN'})
mh_2017_dem_group =mh_2017_dem_group.rename(columns = {'FOCUS':'Num_Facilities', 'LANG16': 'LANG_SPAN'})
mh_2018_dem_group =mh_2018_dem_group.rename(columns = {'FOCUS':'Num_Facilities', 'LANG16': 'LANG_SPAN'})

In [33]:
#Merging 2015 - 2018 mh dataframes through outer merges

#Merge 2015 and 2016
merge_15_16 = pd.merge(mh_2015_dem_group, mh_2016_dem_group, on='state', suffixes = ('_2015', '_2016') )

#Merge the merged 2015/2016 and 2017
merge_15_16_17 = pd.merge(merge_15_16, mh_2017_dem_group, on='state' )

#Rename the columns from the 2017 dataframe
merge_15_16_17 = merge_15_16_17.rename(columns ={'Num_Facilities': 'Num_Facilities_2017', 'CRISISTEAM2':'CRISISTEAM2_2017' , 'TREATMT': 'TREATMT_2017',
                      'MHDIAGEVAL': 'MHDIAGEVAL_2017', 'MHREFERRAL': 'MHREFERRAL_2017', 'MHEMGCY': 'MHEMGCY_2017',
                      'MHSUICIDE': 'MHSUICIDE_2017', 'PAYASST': 'PAYASST_2017','LANG': 'LANG_2017','LANG_SPAN': 'LANG_SPAN_2017',
                     'CHILDAD': 'CHILDAD_2017', 'ADOLES': 'ADOLES_2017', 'YOUNGADULTS': 'YOUNGADULTS_2017', 'ADULT': 'ADULT_2017',
                      'SENIORS': 'SENIORS_2017'})

#Merge the merged 2015/2016/2017 and 2018
merge_15_16_17_18 = pd.merge(merge_15_16_17, mh_2018_dem_group, on='state' )

#Rename the columns from the 2018 dataframe
merge_15_16_17_18 = merge_15_16_17_18.rename(columns ={'Num_Facilities': 'Num_Facilities_2018', 'CRISISTEAM2':'CRISISTEAM2_2018' , 'TREATMT': 'TREATMT_2018',
                      'MHDIAGEVAL': 'MHDIAGEVAL_2018', 'MHREFERRAL': 'MHREFERRAL_2018', 'MHEMGCY': 'MHEMGCY_2018',
                      'MHSUICIDE': 'MHSUICIDE_2018', 'PAYASST': 'PAYASST_2018','LANG': 'LANG_2018','LANG_SPAN': 'LANG_SPAN_2018',
                     'CHILDAD': 'CHILDAD_2018', 'ADOLES': 'ADOLES_2018', 'YOUNGADULTS': 'YOUNGADULTS_2018', 'ADULT': 'ADULT_2018',
                      'SENIORS': 'SENIORS_2018'})

#####

In [63]:
#MH Facilities offering service in Spanish
mh_language = merge_15_16_17_18[['Num_Facilities_2015','LANG_SPAN_2015','Num_Facilities_2016','LANG_SPAN_2016', 'Num_Facilities_2017','LANG_SPAN_2017', 'Num_Facilities_2018','LANG_SPAN_2018' ]]

#Create columns that divide facilities serving spanish speakers by total number of surveys for each year
mh_language.loc[:,'2015 % Spanish Speaking'] = mh_language['LANG_SPAN_2015']/mh_language['Num_Facilities_2015']
mh_language.loc[:,'2016 % Spanish Speaking'] = mh_language['LANG_SPAN_2016']/mh_language['Num_Facilities_2016']
mh_language.loc[:,'2017 % Spanish Speaking'] = mh_language['LANG_SPAN_2017']/mh_language['Num_Facilities_2017']
mh_language.loc[:,'2018 % Spanish Speaking'] = mh_language['LANG_SPAN_2018']/mh_language['Num_Facilities_2018']

mh_language_trends = mh_language[['2015 % Spanish Speaking','2016 % Spanish Speaking', '2017 % Spanish Speaking', '2018 % Spanish Speaking']]
mh_language_trends.head()

,2015 % Spanish Speaking,2016 % Spanish Speaking,2017 % Spanish Speaking,2018 % Spanish Speaking
state,,,,
Alabama,0.106599,0.139896,0.142857,0.146893
Alaska,0.106796,0.101010,0.127907,0.131868
Arizona,0.632124,0.626984,0.591398,0.608219
Arkansas,0.131274,0.131915,0.128440,0.154185
California,0.739321,0.755682,0.765589,0.772033

In [67]:
#MH Facilities offering services to those who cannot pay for it
mh_payassist = merge_15_16_17_18[['Num_Facilities_2015','PAYASST_2015','Num_Facilities_2016','PAYASST_2016', 'Num_Facilities_2017','PAYASST_2017', 'Num_Facilities_2018','PAYASST_2018' ]]

#Create columns that divide facilities serving spanish speakers by total number of surveys for each year
mh_language.loc[:,'2015 % Pay Assist'] = mh_payassist['PAYASST_2015']/mh_payassist['Num_Facilities_2015']
mh_language.loc[:,'2016 % Pay Assist'] = mh_payassist['PAYASST_2016']/mh_payassist['Num_Facilities_2016']
mh_language.loc[:,'2017 % Pay Assist'] = mh_payassist['PAYASST_2017']/mh_payassist['Num_Facilities_2017']
mh_language.loc[:,'2018 % Pay Assist'] = mh_payassist['PAYASST_2018']/mh_payassist['Num_Facilities_2018']

mh_payassist_trends = mh_language[['2015 % Pay Assist','2016 % Pay Assist', '2017 % Pay Assist', '2018 % Pay Assist']]
mh_payassist_trends.head()

,2015 % Pay Assist,2016 % Pay Assist,2017 % Pay Assist,2018 % Pay Assist
state,,,,
Alabama,0.634518,0.616580,0.611429,0.621469
Alaska,0.592233,0.626263,0.581395,0.615385
Arizona,0.334197,0.410053,0.400538,0.435616
Arkansas,0.544402,0.536170,0.500000,0.444934
California,0.529025,0.525000,0.530023,0.499412